* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(120deg, rgb(226, 195, 93), rgb(216, 135, 113));
    min-height: 100vh;

}

.main-container {
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    color: white;
    margin-top: 5rem;
}

.todo_list_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-div {
    border-radius: 2px;
    background-color: white;
    margin-top: 2rem;
    position: relative;
    width: 80%;
}


.validation-text {
    position: absolute;
    top: 2.2rem;
    left: 0;
    color: rgb(255, 0, 0);
    font-weight: 500;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    display: none;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.todo.input-div {
    width: 100%;
}

.todo-input {
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 7px 10px;
    font-size: 1rem;
    width: calc(100% - 30px);
}

.todo-button {
    padding: 3px;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
    transition: .5s;
    background: white;
    color: #ff6f47;
}

.todo-button:hover {
    background: linear-gradient(120deg, rgb(226, 195, 93), rgb(216, 135, 113));
    color: white;
}

.todo-div {
    width: 40%;
    display: flex;
    background-color: white;
    min-height: 2rem;
    align-items: center;
    margin-top: 10px;
    transition: .5s;
}

.todo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.todo-item {
    display: flex;
    flex: 1;
    padding: 5px;
}

.todo-check {
    background-color: rgb(111, 111, 111);
}

.todo-trash {
    background-color: #ff6f47;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.todo-btn {
    min-height: 2rem;
    color: white;
    border: none;
    width: 2.3rem;
}

.todo-div li {
    list-style: none;
    flex: 1;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.checkCompleted {
    background-color: rgb(73, 204, 73);
}

.remove {
    transition: .5s;
    transform: scale(.5, .5);
    opacity: 0;
}

.top-div {
    display: flex;
    width: 50%;
    align-items: center;
}

.todo-filter {
    width: 30%;
    margin-top: 2rem;
    position: relative;
}

select {
    height: 1.8rem;
    margin-left: 10px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    color: #ff6f47;
    padding: 5px 10px;
}

.todo-filter::after {
    content: '\25BC';
    position: absolute;
    right: -10px;
    top: 0;
    background: linear-gradient(120deg, rgb(216, 135, 113), rgb(227, 106, 72));
    color: white;
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 1.8rem;
    transition: .5s;
    pointer-events: none;
}

.todo-filter:hover::after {
    background: white;
    color: #ff6f47;
}

option {
    padding: 5px 10px;
}

.todo-list-items {
    margin-top: 2rem;
    transition: all .5s;
}